# conda install pytorch torchvision torchaudio pytorch-cuda=11.6 -c pytorch -c nvidia
torchvision==0.14.1
torchaudio==0.13.1
torch==1.13.1
pytorch-cuda==11.6

# conda install -c pytorch torchtext
# torchtext==0.14.1

# pip install opencv-python -i https://pypi.tuna.tsinghua.edu.cn/simple
# opencv-python==4.7.0.68
# pip install opencv-contrib-python -i https://pypi.tuna.tsinghua.edu.cn/simple
# opencv-contrib-python==4.7.0.68
# conda install tqdm
tqdm==4.64.1
# conda install numpy
numpy==1.23.5
# conda install pillow
# pillow==9.3.0
# conda install scikit-learn
scikit_learn==1.1.3
# conda install tensorboardX
# tensorboardx==2.2

# conda install tensorboard
tensorboard==2.10.0